<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" const="text/html;charset=UTF-8" />
    <link href="http://fonts.googleapis.com/css?family=Comfortaa" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="style.css" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.0/socket.io.js"></script>
    <script src="https://cdn.jsdelivr.net/gh/ethereum/web3.js/dist/web3.min.js"></script>
    <title>Token Minter</title>
  </head>

  <body>
    <header>
      <h1>Token Minter</h1>
    </header>

    <section id="minter" style="margin:5%"></section>

    <section id="feedback" style="margin:5%"></section>

    <h1>Ledger</h1>
    <section id="ledger"></section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="tokenminter.js"></script>
  </body>
</html>
